#container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    overflow: hidden;
}

.text_area {
    margin-top: 5px;
    user-select: none;
    font-size: 30px;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.part {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: move;
    transition: transform 0.3s ease;
}

#part1 {
    background-image: url('../images/task5/1.png');
    width: 70px;
    height: 250px;
    top: 85px;
    left: 265px;
    z-index: 2;
}

#part2 {
    background-image: url('../images/task5/2.png');
    width: 50px;
    height: 45px;
    top: 323px;
    left: 234px;
    z-index: 3;
}

#part3 {
    background-image: url('../images/task5/3.png');
    width: 105px;
    height: 60px;
    top: 66px;
    left: 315px;
    z-index: 3;
}

#part4 {
    background-image: url('../images/task5/4.png');
    width: 200px;
    height: 180px;
    top: 36px;
    left: 300px;
    z-index: 1;
}

#part5 {
    background-image: url('../images/task5/5.png');
    width: 230px;
    height: 180px;
    top: 203px;
    left: 330px;
}

#part6 {
    background-image: url('../images/task5/6.png');
    width: 290px;
    height: 175px;
    top: 295px;
    left: 314px;
}

.success-animation {
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}